body{
	margin:0px;
	background-color::#FFFFFF;
	background:url("../images/background.jpg") no-repeat center;
	background-size:cover;
}

.container{
	max-width:950px;
	padding-bottom:10px;
}

.navbar-brand img{
	position:absolute;
	left:0px;
	top:0px;
}

.navigation{
	margin-top:60px;
}

.navigation .navbar{
	  background:linear-gradient(rgb( 138, 138, 138 ) 0%, rgb( 212, 212, 212 ) 100%);
	  height:32px;
}

.navigation .navbar ul{
	margin:0px;
	padding:0px;
}

.navigation .navbar ul li{
	border-right:1px solid white;
	padding:0px 20px 3px 20px;
	margin:0px;
}

.navigation .navbar ul li:last-child{
	border-right:none;
}

.navigation .navbar ul li a{
	color:#FFFFFF;
}

.navigation .navbar ul li:hover{
	 background-color:#3CB82F;
	 margin:0px;
	 transition:1.2s;
	 border:1px solid white;
}

.navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	  background-size:20px 32px;
	  background-position:fixed;
	  padding:0px;
	  marging:0px;
}

.middle{
		margin-top:25px;
}

.middle p{
	font-family: "MyriadPro";
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
}

footer{
		background:linear-gradient(rgb( 138, 138, 138 ) 0%, rgb( 212, 212, 212 ) 100%);
		color:white;
		padding:10px;
		height:48px;
		margin-top:19px;
		margin-bottom:0px;
}

@media (max-width: 992px) {

.navigation .navbar ul li{
		border-right:1px solid white;
		padding:0px 10px 3px 10px;;
		margin:0px;
}
}
@media (max-width: 768px) {

.navigation .navbar{
		height:auto;
}
.navigation .navbar ul li{
		border-right:none;
}
}


